.Rproj.user
.Rhistory
.RData
.Ruserdata
src/provisional.R
src/cleaning.R
data/others.csv
data/species.csv
results/figures/Presentación1 - copia.pptx
results/figures/Presentación1.pptx
results/figures/germination.png
doc/21387_2_merged_1634899834.pdf
doc/mcab135_licence.pdf

